<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    <title>Bukune Dayo</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="/" class="navbar-brand">Beranda</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/registrasi" class="nav-link">Daftar</a>
                </li>
                <li class="nav-item active">
                    <a href="/registrasi/profile" class="nav-link">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container mt-3">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'index.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/jquery-3.5.1.slim.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
    
</body>
</html>