{% extends 'layout.html' %}

{% block content %}

<div>
  <div class="row">
      <div class="col">
          <a href="/">
          <button class="btn btn-info">
              Kembali
          </button>
          </a>
      </div>
      <div class="col-6 col-md-6 text-right">
          <a href="/kasir/inputsup">
              <button class="btn btn-success">
                  Input Data Supplier
              </button>
          </a>
      </div>    
  </div>
</div>    
<br/>
<h4>List Data Supplier</h4>
<div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">No Supplier</th>
      <th scope="col">Nama Supplier</th>
      <th scope="col">Produk</th>
      <th scope="col">Alamat</th>
      <th scope="col">No Telepon</th>
      <th scope="col">No Rekening</th>
      <th scope="col">Pemilik Rekening</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for data in datumsup %}
    <tr>
      <th scope="row">{{ data.id_suplier }}</th>
      <td>{{ data.nama_suplier }}</td>
      <td>{{ data.nama_suplier }}</td>
      <td>{{ data.alamat }}</td>
      <td>{{ data.no_tlp }}</td>
      <td>{{ data.rek_bank }}</td>
      <td>{{ data.pemilik_rek }}</td>
      <td>
        <button type="button" class="btn btn-success btn-sm">
          <i class="bi bi-plus-circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </i>
        </button>
      </td>
      <td>
        <a href="hapussup/{{ data.id }}">
          <button type="button" class="btn btn-danger btn-sm">
            <i class="bi bi-trash">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </i>
          </button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  
</table>
</div>

{% endblock %}
