{% extends 'layout.html' %}

{% block content %}

<a href="/registrasi">Kembali</a>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center mb-6 mt-6">Input Nama Tamu : </h3>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <form action="/registrasi/simpanbaru" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="nama" placeholder="Nama"/>
                </div>
                <div class="form-group">
                    <input type="text" name="alamat" placeholder="Alamat"/>  
                </div>
                <div class="form-group">
                    <input type="text" name="tlp" placeholder="No Telepon"/>    
                </div>
                <div class="form-group">
                    <textarea type="text" name="keperluan" placeholder="Keperluan"/></textarea>  
                    <hr>
                </div>
                <div class="form-group">
                    <br/>
                    <button type="submit" class=" btn btn-success">Simpan</button>   
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}